taxonomy {
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

taxonomy h2 {
  line-height: 1.5;
  text-align: center;
}

taxonomy>.container {
  min-height: 100%;
  min-width: 500px;
  padding: 30px;
  margin: auto;
}

taxonomy .taxonomy-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaecef;
}

taxonomy .render-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

taxonomy .render-column, taxonomy .render-item {
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

taxonomy span.render-header {
  font-weight: bold;
  text-align: center;
}

line-render .render-item>canvas, polygon-render .render-item>* {
  margin: auto;
}

polygon-render .render-item {
  padding: 10px;
}

line-render .render-item {
  padding: 0px 4px;
}

symbol-render .render-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 15px;
}

@media print {
  taxonomy .taxonomy-item {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  taxonomy .render-item>* {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}